.base {
    width: 1080px;
    height: 1080px;
    background-size: cover;
    /*background: transparent;*/
    /*background: dodgerblue;*/
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgbg {
    width: 100%;
    z-index: -10;
    height: 100%;
    /*position: relative;*/
    position: absolute;
    top: 0%;
    left: 0;
    background: dodgerblue;
    color: #fff;
    /*overflow: hidden;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.dateRound {
    position: absolute;
    top: 90px;
    left: 40px;
    width: 880px;
    font-family: 'Oswald';
    color: #ffffff;
    text-align: right;
    font-size: 24px;
    text-transform: uppercase;
}

.draw {
    position: absolute;
    top: 43px;
    left: 939px;
    width: 98px;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Oswald';*/
    color: red;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.programTitle {
    position: absolute;
    top: 385px;
    left: 390px;
    width: 880px;
    color: darkred;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 24px;
    text-transform: uppercase;
    transform: rotate(-12deg);
}

.roundPoints {
    position: absolute;
    top: 395px;
    left: 410px;
    width: 580px;
    color: darkred;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 180px;
    text-transform: uppercase;
    transform: rotate(-15deg);
}

.points {
    position: absolute;
    top: 620px;
    left: 440px;
    width: 580px;
    color: darkred;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
    transform: rotate(-15deg);
}

.invitations {
    position: absolute;
    top: 845px;
    left: 420px;
    width: 580px;
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    text-align: right;
    font-size: 140px;
    text-transform: uppercase;
}

.tieBrake {
    position: absolute;
    top: 1030px;
    left: 320px;
    width: 680px;
    font-family: 'Oswald';
    color: #ffffff;
    text-align: right;
    font-size: 24px;
    text-transform: uppercase;
}

.cec {
    color: #3C1F4D;
    /*color: #5e2680;*/
}

.fsw {
    color: #c8a80d;
}

.fst {
    color: orange;
}

.pnp {
    color: #044e04;
}
